<footer>
  <nav class="navbar fixed-bottom bg-dark navbar-dark justify-content-center">
      <p class="navbar-text text-center">Contact: contact@careerpointer.com
        | &copy; 2025 Career Pointer. All rights reserved
      </p>
  </nav>
</footer>