<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Career Pointer</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <% if (title == 'Career Pointer - Home Page' || title == 'Home Page') { %>
            <a class="nav-link active" aria-current="page" href="/"><i class="fa-solid fa-lg fa-house"></i> Home</a>
          <% } else { %>
            <a class="nav-link" href="/"><i class="fa-solid fa-lg fa-house"></i> Home</a>
          <% } %>
        </li>
        <li class="nav-item">
          <% if (title == 'Career Pointer - About Us') { %>
            <a class="nav-link active" aria-current="page" href="/aboutus"><i class="fa-solid fa-lg fa-user-tie"></i> About Us</a>
          <% } else { %>
            <a class="nav-link" href="/aboutus"><i class="fa-solid fa-lg fa-user-tie"></i> About Us</a>
          <% } %>
        </li>
        <li class="nav-item">
          <% if (title == 'Career Pointer - Contact Us') { %>
            <a class="nav-link active" aria-current="page" href="/contact"><i class="fa-solid fa-lg fa-address-card"></i> Contact Us</a>
          <% } else { %>
            <a class="nav-link" href="/contact"><i class="fa-solid fa-lg fa-address-card"></i> Contact Us</a>
          <% } %>
        </li>
      </ul>
    </div>
  </div>
</nav>