<% include partials/header %> <!-- Include header partial for consistent head section -->
<% include partials/main_nav %> <!-- Include main navigation partial -->
<h1>In Development...</h1>
<% include partials/footer %> <!-- Include footer partial for consistent footer section -->